@charset "utf-8";

:root{
    --main-color: #03c75a;
    --sub-color: #363a43;
    --c-black-1: #101010;

    accent-color: #03c75a;

    --web-width: 1280px;

    --main-font: "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
}

/* common */
.blind{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
